@use "colors" as clr;


// Templates 
@mixin _basicComponent($tb-pad: auto, $lr-pad: auto){
  // Use this to build basic components look

  // tb - top, bottom
  // lr - left, right
  padding: $tb-pad $lr-pad $tb-pad $lr-pad;
  background: clr.$gray;
  color: clr.$font;
}


// Effects
@mixin _grapefruitShadow(){
  box-shadow: 0 0 1rem clr.$grapefruit;
}


// Containers
@mixin contentBox(){
  background: clr.$dark-gray;
  padding: 2rem;
  border-radius: 1rem;
}


// Inputs
@mixin textInput($width: auto, $height: auto){
  @include _basicComponent(
    $tb-pad: .5rem,
    $lr-pad: .7rem,
  );

  width: $width;
  height: $height;

  border: 2px solid clr.$gray;
  border-radius: 3rem;

  transition : border 500ms ease-out;

  &:focus,
  &:not(:placeholder-shown) {
    @include _grapefruitShadow();
    border-color: clr.$grapefruit;
  }
}

@mixin clickButton(){
  @include _basicComponent(
    $tb-pad: .6rem,
    $lr-pad: .7rem,
  );

  border-radius: .5rem;
  transition: background 400ms ease-out;

  &:hover {
    @include _grapefruitShadow();
    background: clr.$grapefruit;
    cursor: pointer;
  }
}

@mixin checkButton {
  @include _basicComponent(
    $tb-pad: .5rem,
    $lr-pad: .5rem,
  );

  border-radius: .1rem;
  transition: background 400ms ease-out;

  &:checked {
    @include _grapefruitShadow();
    background: clr.$grapefruit;
  }

  &:hover {
    cursor: pointer;
  }
}