{% extends 'music_management/base.html' %}
{% load static %}


{% block static %}
  <link rel="stylesheet" href="{% static 'music_management/styles/download-song.css' %}">
  <link rel="stylesheet" href="{% static 'music_management/styles/song-data.css' %}">
{% endblock static %}


{% block content %}
<div class="content">
  <form method="POST">
    {% csrf_token %}

    <div class="top">
      {{ form.yt_url }}
      <input type="submit" value="Load Song">
    </div>

    {% if download %}
      {% include 'music_management/components/song-data.html' %}
    {% endif %}

  </form>
</div>
{% endblock content %}